:root {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;

  color-scheme: light dark;
  
  --container-bg: #0B1120;
  --card-bg: #1C1F26;
  --btn-color: #0A84FF;
  --btn-color-hover: #00E0FF;
  --card-border: #AAB3C2;
  --outer-glow: 0 0 15px #33C1FF;
  --text-color: #fff;
  --text-input: #000;
  --btn-scale: scale(1.10);
  --icon-scale: scale(1.5);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/assets/tech-background.jpg');
  background-size: cover;
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: #646cff;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #0A84FF;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  background-color: #00E0FF;
  color: #000;
  border-color: #646cff;
  box-shadow: var(--outer-glow);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
