.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box {
  background-color: var(--card-bg);
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
  box-shadow: var(--outer-glow);
  width: 300px;
}

.popup-logo {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-weight: bold;
}

.popup-logo img {
  width: 100px;
  height: 100px;
}

.popup-title {
  font-size: 1.4rem;
  margin: 5px 0;
  font-weight: bold;
}

.popup-message {
  font-size: 0.95rem;
  margin: 10px 0 20px;
  text-align: center;
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.popup-btn {
  flex: 1;
  padding: 10px;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 10px;
}

.popup-btn.safe {
  background-color: var(--btn-color);
}

.popup-btn.warn {
  background-color: var(--btn-color-red);
}

.popup-btn.safe:hover {
  background-color: var(--btn-color-hover);
}

.popup-btn.warn:hover {
  background-color: var(--btn-color-redhover);
}
